.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  padding: 60px 20px;
  max-width: 1200px;
  margin: auto;
}

.card {
  background-color: var(--gray-100); /* tom intermediário de cinza */
  border-radius: 24px;
  padding: 16px;
  text-align: left;
  color: white;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 0 4px var(--red); /* borda em destaque ao passar o mouse */
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card h2 {
  font: var(--title-sm);
  margin-bottom: 8px;
}

.card p {
  font: var(--texto-sm);
  color: var(--gray-500);
}
.projetos {
  text-align: center;
  padding: 80px 20px;
  max-width: 1200px;
  margin: auto;
}

.projetos h3 {
  font: var(--Subtitle);
  color: var(--gray-400);
  margin-bottom: 8px;
}

.projetos h3 span {
  color: var(--red);
}

.projetos h2 {
  font: var(--title-md);
  color: var(--gray-600);
  margin-bottom: 40px;
}

.service-container {
  font: var(--title-sm);
  padding: 80px ;
  text-align: center;
  background-color: var(--gray-100);
  margin: 0 auto;
  height: 500px;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /* Card menor que o original */
  justify-content: center;
  gap: 24px; /* Consistente com .cards-container */
  max-width: 1200px;
  margin: 0 auto;
}

.CARD_trampo {
  background-color: var(--gray-100); /* Ajuste pra fundo escuro, como na imagem */

  padding: 16px;
  border-radius: 12px;
  text-align: center; /* Centraliza o texto como na imagem */
  font: var(--title-sm);
  width: 100%;
  border: solid var(--gray-200);
  color: white; /* Texto branco pra combinar com fundo escuro */
  text-align: left;
}

.CARD_trampo img {
  width: 48px; /* Tamanho fixo pro ícone */
  height: 48px; /* Garante proporção */
  margin-bottom: 20px; /* Espaço entre ícone e texto */
 
}
.service-container span{
   margin-bottom: 8px;
   display: block;
   
  
}
.service-container h2{
  margin-bottom: 56px;
  font: var(--title-sm);
  color: var(--gray-600);
  height: 19px;
}
.service-container p{
   font: var(--title-sm);
   color: var(--gray-500);
}