header {
  background: url("../image/Background_Intro.png") no-repeat center center;
  background-size: cover;
}

/* imagem redonda com borda */
.julio {
  width: 152px;
  height: 152px;
  border-radius: 50%;
  margin-top: 30px;
  border: 4px solid var(--red);
  object-fit: cover;
  margin-bottom: 26px;
}

/* conteúdo principal */
.intro {
  padding: 80px 20px;
  text-align: center;
  max-width: 690px;       /* limite de largura */
  margin: 0 auto;         /* centraliza horizontalmente */
}

/* títulos */
.intro h2 {
  font: var(--Subtitle);
  padding: 20px;
}
.intro h1 {
  font: var(--title-lg);
}

/* destaque vermelho */
.red {
  color: var(--red);
}

/* parágrafo */
.intro p {
  font: var(--texto-sm);
}

/* chips de tecnologia */
.tecnologias {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 40px 20px;
  margin: auto;
  max-width: 1040px; 
}

.tech {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 14px;
  background-color: var(--gray-300); /* ou #2a2d34 */
  border-radius: 999px;
  color: var(--gray-600); /* texto */
  font: var(--texto-md);
  transition: background-color 0.3s;
}

.tech img {
  width: 20px;
  height: 20px;
  display: block;
}



/* filtros para colorir apenas os ícones */
.tech.github img {
  filter: brightness(0) saturate(100%) invert(75%) sepia(9%) saturate(469%) hue-rotate(169deg) brightness(94%) contrast(85%);
}
.tech.html img {
  filter: brightness(0) saturate(100%) invert(33%) sepia(86%) saturate(747%) hue-rotate(344deg) brightness(100%) contrast(101%);
}
.tech.css img {
  filter: brightness(0) saturate(100%) invert(37%) sepia(81%) saturate(635%) hue-rotate(177deg) brightness(92%) contrast(93%);
}
.tech.js img {
  filter: brightness(0) saturate(100%) invert(81%) sepia(13%) saturate(614%) hue-rotate(6deg) brightness(93%) contrast(92%);
}
.tech.react img {
  filter: brightness(0) saturate(100%) invert(70%) sepia(11%) saturate(1033%) hue-rotate(182deg) brightness(93%) contrast(92%);
}
.tech.node img {
  filter: brightness(0) saturate(100%) invert(67%) sepia(24%) saturate(690%) hue-rotate(47deg) brightness(94%) contrast(91%);
}

.tech {
  color: var(--gray-500); /* cor do ícone e do texto */
}

.tech.github { color: var(--gray-400); }
.tech.html   { color: orangered; }
.tech.css    { color: steelblue; }
.tech.js     { color: #f0db4f; }
.tech.react  { color: #61dafb; }
.tech.node   { color: #83CD29; }

.SetaBaixo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px;
}